.header {
    grid-area: header;
    background-color: #F1F1F1F1;
}

.main {
    margin-left: 10px;
    margin-top: 10px;
}

.header a{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

.text{
    color:purple;
}