.dashboard {
}

.main {
    display:flex;
    justify-content: space-between;
}

.locations, .connectedDevices, .buildings, .devices {
    position: relative;
    border-radius: 5px;
    height: 100px;
    width: 250px;
}
.locations{
    background-color: #00d4ff;
}
.buildings {
    background-color: #00ff90;
}
.devices {
    background-color: #f6d1a0;
}
.connectedDevices {
    background-color: #b0e8e8;
}

.button button{
    border-radius: 1px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff9f9;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button button:hover {
    background-color: #b0b0b0;
    color: #494949;
}

.button button:active {
    background-color: #b0b0b0;
    color: #494949;
}